*{
  box-sizing: border-box;
  direction: rtl;
}
div.DatePicker {
  width:300px;
  height: 500px;
  margin : auto;
}
/* .picker {
  display: flex;
  flex-direction: column;
} */

/* .d{
  display: flex;
  flex-direction: column;
} */
/* .pick-day{
  display:flex;
  padding: 16px;
  flex-wrap: wrap;
}
.pick-day li {
  flex: 0 0 14.285714285714285714285714285714%;
  text-align: center;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
} */
/* .day-Names{
  display: inline-block;
  font-size: 1.1rem;
} */
div.DatePicker .pick {
  position: relative;
  background-color: white;
  color: black;
  font-size: 32px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  top:100px;
   /* overflow: hidden;  */
}
div.DatePicker .pick.pick-y.pick-jump li {
 color: tan;
}
div.DatePicker .pick ul {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}
div.DatePicker .pick.pick-m {
  background-color: tomato;
}
div.DatePicker .pick  li {
  position: absolute;
  top:0;
  width: 100%;
  left: 0;
  height: 100%;
  text-align: center;
  display: block;
  opacity: .3;
  transition: all .2s ease-in-out;
  user-select: none;
}
div.DatePicker li.pick-sl {
  transform: translateY(0);
  opacity: 1;
  z-index: 1;
}
div.DatePicker li.pick-bfr {
  transform: translateY(-100%);
  opacity: .3;
}
div.DatePicker li.pick-afr {
  transform: translateY(100%);
  opacity: .3;
}
div.DatePicker .pick-arw {
  position: absolute;
  width: 25%;
  top: 0;
  display: block;
  text-align: center;
  margin:0 20px;
  transform: scale(0);
  transition: all .2s;
  height: 100%;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}
div.DatePicker .pick .pick-arw.pick-arw-s1.pick-arw-l,
div.DatePicker .pick .pick-arw.pick-arw-s2.pick-arw-l {
  left: 0;
}
div.DatePicker .pick .pick-arw.pick-arw-s1.pick-arw-r,
div.DatePicker .pick .pick-arw.pick-arw-s2.pick-arw-r {
  right: 0;
}
div.DatePicker .pick.pick-y.pick-jump:hover .pick-arw.pick-arw-s1.pick-arw-l {
  left: 16px;
}
div.DatePicker .pick.pick-y.pick-jump:hover .pick-arw.pick-arw-s1.pick-arw-r {
  right: 16px;
}
div.DatePicker .pick .pick-arw.pick-arw-s2.pick-arw-l {
  transform: translateX(-100%);
}
div.DatePicker .pick .pick-arw.pick-arw-s2.pick-arw-r {
  transform: translateX(100%);
}
div.DatePicker .pick.pick-y.pick-jump .pick-arw.pick-arw-s2.pick-arw-l,
div.DatePicker .pick.pick-y.pick-jump .pick-arw.pick-arw-s2.pick-arw-r{
  z-index:1000;
  transform: translateX(0);
}
div.DatePicker .pick-arw.next i.pick-i-l::before {
  content: '>'
}
div.DatePicker .pick-arw.before i.pick-i-r::before {
  content: '<'
}
div.DatePicker .pick:hover .pick-arw{
  opacity: 0.4;
  transform: scale(1)
}

div.DatePicker  .pick .pick-arw.pick-arw-s1.pick-arw-r:hover,
div.DatePicker   .pick .pick-arw.pick-arw-s1.pick-arw-l:hover{
  opacity: 1;
  transform: scale(1.2)
}
div.DatePicker  .pick.pick-jump .pick-arw.pick-arw-s1.pick-arw-r:hover,
div.DatePicker   .pick.pick-jump .pick-arw.pick-arw-s1.pick-arw-l:hover{
  opacity: 1;
  transform: scale(1.6)
}

